
.coverage

.idea/dataSources.local.xml

.idea/dataSources.xml

.idea/dataSources/6fbd9bf5-9050-4c4c-8a04-beda1c385215.xml

.idea/dataSources/6fbd9bf5-9050-4c4c-8a04-beda1c385215/_metadata_/metadata

.idea/dataSources/6fbd9bf5-9050-4c4c-8a04-beda1c385215/_metadata_/metadata_i

*.len

*.keystream

*.at

.idea/dataSources/6fbd9bf5-9050-4c4c-8a04-beda1c385215/storage.xml

.idea/improve_django_project_9.iml

.idea/misc.xml

.idea/modules.xml

.idea/workspace.xml
